@import "tailwindcss";

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE & Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .arrow1Animation{
    animation: moveArrow1 2s linear infinite;
  }

.smallShadow{
    text-shadow: 1px 3px #00000030;
  }
  .textShadow{
        text-shadow: 4px 5px #00000030;
  }
  .chatBotShadow{
        box-shadow: 0px 0px 10px 0px #00000030;
  }

@media (max-width: 800px) {
    .smallShadow {
      text-shadow: 2px 2px 1.8px #00000030;
    }

    .textShadow {
      text-shadow: 2px 2px 1.8px #00000030;
    }
  }
